@font-face {
    font-family: Chiayi-City;
    src: url("./fonts/ChiayiCityFont/ChiayiCity.ttf") format("truetype");
}

@font-face {
    font-family: Noto-Serif-TC;
    src: url("./fonts/Noto_Serif_TC/NotoSerifTC-Regular.otf") format("opentype");
}

@font-face {
    font-family: Noto-Serif-TC-Black;
    src: url("./fonts/Noto_Serif_TC/NotoSerifTC-Black.otf") format("opentype");
}

@font-face {
    font-family: Noto-Serif-TC-Bold;
    src: url("./fonts/Noto_Serif_TC/NotoSerifTC-Bold.otf") format("opentype");
}

@font-face {
    font-family: Noto-Serif-TC-Light;
    src: url("./fonts/Noto_Serif_TC/NotoSerifTC-Light.otf") format("opentype");
}

@font-face {
    font-family: Noto-Serif-TC-ExtraLight;
    src: url("./fonts/Noto_Serif_TC/NotoSerifTC-ExtraLight.otf") format("opentype");
}

@font-face {
    font-family: Noto-Serif-TC-Medium;
    src: url("./fonts/Noto_Serif_TC/NotoSerifTC-Medium.otf") format("opentype");
}

@font-face {
    font-family: Noto-Serif-TC-SemiBold;
    src: url("./fonts/Noto_Serif_TC/NotoSerifTC-SemiBold.otf") format("opentype");
}

@font-face {
    font-family: Noto-Sans-TC;
    src: url("./fonts/Noto_Sans_TC/NotoSansTC-Regular.otf") format("opentype");
}

@font-face {
    font-family: Noto-Sans-TC-Thin;
    src: url("./fonts/Noto_Sans_TC/NotoSansTC-Thin.otf") format("opentype");
}

@font-face {
    font-family: Noto-Sans-TC-Medium;
    src: url("./fonts/Noto_Sans_TC/NotoSansTC-Medium.otf") format("opentype");
}

@font-face {
    font-family: Noto-Sans-TC-Light;
    src: url("./fonts/Noto_Sans_TC/NotoSansTC-Light.otf") format("opentype");
}

@font-face {
    font-family: Noto-Sans-TC-Bold;
    src: url("./fonts/Noto_Sans_TC/NotoSansTC-Bold.otf");
}

@font-face {
    font-family: Noto-Sans-TC-Black;
    src: url("./fonts/Noto_Sans_TC/NotoSansTC-Black.otf") format("opentype");
}

.Chiayi-City {
    font-family: Chiayi-City;
}

.Noto-Serif-TC {
    font-family: Noto-Serif-TC;
}

.Noto-Serif-TC-Black {
    font-family: Noto-Serif-TC-Black;
}

.Noto-Serif-TC-Bold {
    font-family: Noto-Serif-TC-Bold;
}

.Noto-Serif-TC-Light {
    font-family: Noto-Serif-TC-Light;
}

.Noto-Serif-TC-ExtraLight {
    font-family: Noto-Serif-TC-ExtraLight;
}

.Noto-Serif-TC-Medium {
    font-family: Noto-Serif-TC-Medium;
}

.Noto-Serif-TC-SemiBold {
    font-family: Noto-Serif-TC-SemiBold;
}

.Noto-Sans-TC {
    font-family: Noto-Sans-TC;
}

.Noto-Sans-TC-Bold {
    font-family: Noto-Sans-TC-Bold;
}

.Noto-Sans-TC-Black {
    font-family: Noto-Sans-TC-Black;
}

.Noto-Sans-TC-Thin {
    font-family: Noto-Sans-TC-Thin;
}

.Noto-Sans-TC-Light {
    font-family: Noto-Sans-TC-Light;
}

.Noto-Sans-TC-Medium {
    font-family: Noto-Sans-TC-Medium;
}

textarea {
    resize: none;
}

.container {
    margin: 0 auto;
    width: 80%;
}

.input, .custom, .result {
    margin: 0 auto;
    display: block;
}
