html {
    height: 100%;
    background: linear-gradient(
        180deg, 
        #fcd25d 50%, 
        #2d755b 50%
    );
}

@media only screen and (max-width: 1000px) {
    .container {
        padding-top: 50%;
    }
}

@media only screen and (min-width: 1001px) {
    .container {
        padding-top: 10em;
    }
}

.container {
    margin: 0 auto;
    width: 50%;
}

h2 {
    text-align: center;
}

textarea {
    width: 100%;
    height: 100px;
    resize: none;
}

.custom {
    margin-top: 100px;
}

#select-font, #input-color, #select-size, #button-apply, #button-copy, #button-download {
    display: inline-block;
}

.custom {
    margin: 0 auto;
    display: block;
}

.custom-font, .custom-style, .custom-button {
    display: inline-block;
}

.result {
    text-align: center;
    background: gray;
}

button {
    border-radius: 20px;
    height: 30px;
    width: 50px;
    background: white;
    border: 1px white solid;
    margin: 5px;
}

button:active {
    background-color: #0377fc;
    border: 1px #0377fc solid;
    color: white;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}