body {
    padding: 0;
    margin: 0;
	user-select: none;
	font-family: monospace;
}

html, body, #map {
    height: 100%;
    width: 100vw;
}

img {
	width: 90px;
	height: 160px;
	pointer-events: none;
	border-radius: 12px;
	float: right;
	display: block;
}

.leaflet-popup-content-wrapper {
	padding-bottom: 10px;
}

.leaflet-popup-content {
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.intro {
	margin: 0 10px;
	font-size: 16px;
}

/* 
 * freshman #3581D8 blue
 * sophomore #28CC2D green
 * junior #FFE135 yellow
 * senior #D82E3F red
 */
.freshman .leaflet-popup-content-wrapper {
	background: #3581D8;
	color: white;
}

.freshman  .leaflet-popup-tip {
	background: #3581D8;
}

.sophomore .leaflet-popup-content-wrapper {
	background: #28CC2D;
}

.sophomore .leaflet-popup-tip {
	background: #28CC2D;
}

.junior .leaflet-popup-content-wrapper {
	background: #FFE135;
}

.junior  .leaflet-popup-tip {
	background: #FFE135;
}

.senior .leaflet-popup-content-wrapper {
	background: #D82E3F;
	color: white;
}

.senior .leaflet-popup-tip {
	background: #D82E3F;
}

.sp .leaflet-popup-content-wrapper {
	background: #02a664;
	color: white;
}

.sp .leaflet-popup-tip {
	background: #02a664;
}

.easter .leaflet-popup-content-wrapper {
	background: #0243a6;
	color: white;
}

.easter .leaflet-popup-tip {
	background: #0243a6;
}